body {
  background-color: #324e88;
  color: #ffffff;
  line-height: 1.5;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
header {
  text-align: center;
}
header img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.wrapper {
  max-width: 900px;
  margin: auto;
}
.heading {
  color: #56ab5c;
}
a {
  color: #0b2353;
}
a:hover {
  color: #000;
}
.footer {
  background-color: #0b2353;
  padding: 16px 0;
  text-align: center;
}
.footer a {
  margin: 0 16px;
  text-decoration: none;
}
